USE [TEST]
GO
/****** Object:  Table [dbo].[Service_operator]    Script Date: 12/02/2016 12:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Service_operator](
	[shop_number] [varchar](50) NOT NULL,
	[operators] [varchar](50) NOT NULL,
	[date_time_down] [datetime2](0) NULL,
	[date_time_up] [datetime2](0) NULL,
	[sevice_degradation] [datetime2](0) NULL,
	[TT] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Service_operator] ([shop_number], [operators], [date_time_down], [date_time_up], [sevice_degradation], [TT]) VALUES (N'Victoria-49', N'Enforta', CAST(0x0041E200CD3B0B0000 AS DateTime2), CAST(0x0006F900CD3B0B0000 AS DateTime2), NULL, NULL)
INSERT [dbo].[Service_operator] ([shop_number], [operators], [date_time_down], [date_time_up], [sevice_degradation], [TT]) VALUES (N'Victoria-36', N'Enforta', CAST(0x00BDD600D03B0B0000 AS DateTime2), CAST(0x004FF700D03B0B0000 AS DateTime2), NULL, NULL)
INSERT [dbo].[Service_operator] ([shop_number], [operators], [date_time_down], [date_time_up], [sevice_degradation], [TT]) VALUES (N'Victoria-45', N'Enforta', CAST(0x00C88B00DA3B0B0000 AS DateTime2), CAST(0x00878F00DA3B0B0000 AS DateTime2), NULL, NULL)
